#clustered-info-view #cluster-stastics-section {
	position: absolute;
	top: 50px;
	width: inherit;
	height: 350px;
	background-color: none;
	z-index: 3;
}

#clustered-info-view #cluster-stastics-section #price-distribution-barchart-heading {
	position: absolute;
	top: 10px;
	left: 5px;
	padding-left: 5px;
	width: 90px;
	height: 41px;
	background-color: none;
}

#clustered-info-view #cluster-stastics-section #cluster-ratings-distribution-chart-heading {
	position: absolute;
	top: 10px;
	left: 100px;
	padding-left: 5px;
	width: 100px;
	height: 41px;
	background-color: none;
}

#clustered-info-view #cluster-stastics-section #price-distribution-barchart-heading a,
#clustered-info-view #cluster-stastics-section #price-distribution-barchart-heading a:hover,
#clustered-info-view #cluster-stastics-section #cluster-ratings-distribution-chart-heading a,
#clustered-info-view #cluster-stastics-section #cluster-ratings-distribution-chart-heading a:hover {
	text-decoration: none;
}

#clustered-info-view #cluster-stastics-section .heading-selected {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 0px;
	border-radius: 4px 4px 0px 0px ;
	background-color: rgba(246, 246, 246, 0.94);
	z-index: 5;
}

#clustered-info-view #cluster-stastics-section .heading-unselected {
	border: none;
	border-radius: 4px;
	box-shadow: none;
	background-color: none;
	z-index: 3;
}

#clustered-info-view #cluster-stastics-section #price-distribution-barchart {
	position: absolute;
	top: 50px;
	left: 5px;
	width: 340px;
	height: 280px;
	padding: 0px 5px 0px 5px ;
	background-color: rgba(246, 246, 246, 0.94);
	z-index: 4;
	border: 1px solid #ccc;
	border-radius: 0px 10px 10px 10px;
	box-shadow: 2px 2px 5px #888;
}

#clustered-info-view #cluster-stastics-section #cluster-ratings-distribution-chart {
	position: absolute;
	top: 50px;
	left: 350px;
	width: 340px;
	height: 280px;
	padding: 0px 5px 0px 5px ;
	background-color: rgba(246, 246, 246, 0.94);
	z-index: 4;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #888;
}