#menu {
	position: fixed;
	top: 50px;
	width: 0px;
	height: 100%;
	background-color: rgba(246, 246, 246, 0.50);
	z-index: 2;
    overflow: hidden;
}

#menu .close-button {
	float: right;
	padding: 10px;
	height: 50px;
	width: 50px;
	z-index: 2;
	display: block;
}

#menu #filter-businesses-button {
	position: absolute;
	margin: 10px 10px 0px 5px;
	height: 40px;
	width: 250px;
	background: rgb(247, 247, 247);
	text-align:center;
	border-radius: 10px;
}

#menu #filter-businesses-button a{
	font-family: "Lucida Sans Unicode";
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: rgb(100,100,100);
    text-shadow: 2px 2px #EAEAEA;
    padding-top: 2.5px;
}

#menu #filter-businesses-button a span{
	padding-top: 5px;
	padding-left: 10px;
}

#menu #filter-menu-container {
	background: rgb(247, 247, 247);
	display: block;
	left: 5px;
	top: 43px;
	position: absolute;
	max-height: 500px;
	max-width: 600px;
	height: 0px;
	width: 0px;
	overflow: hidden;
	border-radius: 0px 20px 20px 20px;
}

#menu #filter-menu-container table{
	margin: 10px;
	width: 100%;
}

#menu #filter-menu-container table tr{
	width: 100%;
	height: 40px;
}

#menu #filter-menu-container a{
	text-decoration: none;
	color: rgb(100,100,100);
}

#menu #compare-businesses-button {
	position: absolute;
	top: 45px;
	margin: 10px 10px 0px 5px;	
	height: 40px;
	width: 250px;
	background: rgb(247, 247, 247);
	text-align:center;
	border-radius: 10px;
}

#menu #compare-businesses-button a{
	font-family: "Lucida Sans Unicode";
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: rgb(100,100,100);
    text-shadow: 2px 2px #EAEAEA;
    padding-top: 2.5px;
}

#menu #compare-businesses-button a span{
	padding-top: 5px;
	padding-left: 10px;
}

#menu #compare-businesses-container {
	background: rgb(247, 247, 247);
	display: block;
	left: 5px;
	top: 85px;
	position: absolute;
	max-height: 450px;
	max-width: 250px;
	height: 0px;
	width: 250px;

	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
}

#menu #compare-businesses-container #heading {
	margin: 10px;
	font-family: "Lucida Sans Unicode";
    font-size: 12px;
    display: block;
    color: rgb(100,100,100);
}

#menu #compare-businesses-container #compare-businesses-table-div {
	background: none;
	max-height: 320px;
	overflow: scroll;
}

#menu #compare-businesses-container table{
	margin: 10px;
	width: 90%;	
}

#menu #compare-businesses-container table tr{
	width: 100%;
	height: 40px;
}

#menu #compare-businesses-container a{
	text-decoration: none;
	color: rgb(100,100,100);
}

/* 
#menu #filter2-businesses-button {
	position: absolute;
	top: 90px;
	margin: 10px 10px 0px 5px;	
	height: 40px;
	width: 250px;
	background: rgb(247, 247, 247);
	text-align:center;
	border-radius: 10px;
}

#menu #filter2-businesses-button a{
	font-family: "Lucida Sans Unicode";
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: rgb(100,100,100);
    text-shadow: 2px 2px #EAEAEA;
    padding-top: 2.5px;
}

#menu #filter2-businesses-button a span{
	padding-top: 5px;
	padding-left: 10px;
}

#menu #filter2-menu-container {
	background: rgb(247, 247, 247);
	display: block;
	left: 5px;
	top: 135px;
	position: absolute;
	max-height: 200px;
	max-width: 250px;
	height: 0px;
	width: 250px;
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
}
 */